package errorInputs

func InputAttrs(hasError bool) templ.Attributes {
	class := ""
	if hasError {
		class += " border-red-500"
	} else {
		class += " border-input"
	}
	return templ.Attributes{
		"class": class,
	}
}
