@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix for Alpine users. */
[x-cloak] {
  display: none !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-serif;
  }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 72.22% 50.59%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 5.9% 10%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;
      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;
      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;
      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
}

.btn {
  transition: border-width 0.1s ease-in-out, color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;

  @apply bg-muted text-muted-foreground font-sans font-bold py-2 px-4 border-b-4 border-t-4 border-t-background;
}
.btn:not(:disabled, .disabled) {
  @apply hover:border-b-8 hover:border-t-0 focus:border-b-8 focus:border-t-0 active:border-b-0 active:border-t-8;
}

.btn-primary:not(:disabled, .disabled) {
  @apply bg-green-700 hover:bg-green-600 text-white font-bold  border-b-green-900;
}
.btn-danger:not(:disabled, .disabled) {
  @apply bg-red-700 hover:bg-red-600 text-white font-bold  border-b-red-900;
}

input {
  @apply border-4 p-2 text-black;
}

:disabled,
.disabled {
  @apply cursor-default pointer-events-none border-b-0 border-t-8;
}

p {
  @apply mb-4;
}

h1,
h2,
h3 {
  @apply font-extrabold tracking-tight font-sans;
}

h1 {
  @apply mt-2 mb-4 text-4xl  leading-none md:text-5xl lg:text-6xl;
}

h2 {
  @apply mb-4 text-3xl;
}

h3 {
  @apply mb-2 text-xl;
}

.large-image {
  max-width: min(90vw, 90vh);
}
.small-image {
  max-width: min(90vw, 30vh);
}
img {
  width: 100%;
}

.scrollbar-adjustment {
  padding-left: calc(100vw - 100%);
}

.rolling {
  animation: spin 0.15s ease-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
